---

title: About Page For You

layout: template.njk

---

<div class="container">
    <h1> This Page is For You</h1>
    <p>It was made for you using HTML, CSS, JS and served using JAMstack.</p>
</div>