---

title: A Page For You

layout: template.njk

---

<div class="container">
    <div class="title">
        <h1>This is a page for me.</h1>
    </div>
    <div class="vibe">Great Day ...</div>
    <div class="love">❤️</div>
</div>
<script src="/js/vibe.js"></script>